* {
    box-sizing: border-box;
}

html {
    font-size: 24px;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, sans-serif;
    background: #f5f7fa;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;

    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* sizing */
    width: 100%;
    max-height: 100%;

    /* text */
    text-align: center;
    padding: 1rem;
}

#header {
    margin-top: 6rem;
}

#header p {
    margin: 0;
    font-size: 0.85rem;
    color: #bdbdbd;
}

#header h1 {
    margin-bottom: 0.5rem;
}

.card {
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px; /*Maybe go bigger?*/
    width: 100%;

    /* spacing */
    margin: 1rem;
    padding: 0.4rem;

    /* text */
    text-align: center;

    /* visuals */
    border-radius: 2rem;
    background: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.08);
}

.card > * + * {
    margin-top: 1rem;
}

form {
    /* layout */
    display: flex;
    justify-content: center;

    /* sizing */
    width: 100%;

    /* spacing */
    gap: 0.7rem;
}

input {
    padding: 0.8rem 1rem;
    border-radius: 2rem;
    border: 1px solid #e3e3e3;
    outline: none;
    font-size: 1.2rem;
}

input:focus {
    border-color: #6366f1;
}

input[type=submit] {
    background: #6366f1;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    padding: 1rem 2rem;
}

input[type=submit]:hover {
    background: #4f46e5;
}

.input-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 2rem;
    border: 1px solid #ccc;
    background: white;
}

#password {
    display: block;
    width: 100%;
    padding: 1.1rem 1rem;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 0;
}

#password:focus {
    outline: none;
    border-color: #999;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.08);
}

.input-wrapper:focus-within {
    border-color: #6366f1;
}

#strength-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background: red;
    transition: width 0.3s ease, background 0.3s ease;
}

.results {
    min-height: 80px; /* or whatever fits your design */
}

footer {
    padding: 1rem;
    text-align: center;
    color: #c6c6c6;
    margin-bottom: 3rem;
}

